@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Gabarito&family=Poppins:ital,wght@0,100;1,300&family=Roboto&display=swap');


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 
}

#topcart{
  display: flex;
}

#navbar{
  display: flex;
  justify-content: space-between;
}

#shr{
  font-size: 70px;
  margin-top: -400px;
  margin-left: 40px;
  color: white;
}

#nn{
  color: white;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20px;
}

#newbooks{
  font-size: 20px;
  margin-top: 180px;
  font-weight: bold;
  margin-left: 50px;
}

#books{
  display: flex;


}

#book1,#book2,#book3,#book4,#book5,#book6{
  margin-left: 55px;
}

#b2{
  margin-left: 300px;
  margin-top: -70px;
}

#b3{
  margin-left: 550px;
  margin-top: -70px;
}

#b4{
  margin-left: 800px;
  margin-top: -70px;
}

#b5{
  margin-left: 1030px;
  margin-top: -80px;
}

#b6{
  margin-left: 1270px;
  margin-top: -70px;
}

#b1{
  margin-left: 60px;
}

#games{
  display: flex;
}

#dng{
  font-size: larger;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 150px;
}
#game1,#game2,#game3,#game4{
  margin-left: 70px;
}

#g2{
  margin-left: 430px;
  margin-top: -80px;
}

#g3{
  margin-left: 780px;
  margin-top: -80px;
}

#g4{
  margin-left: 1120px;
  margin-top: -70px;
}

#g1{
  margin-left: 80px;
  margin-top: 10px;
}

#handmade{
  display: flex;
}

#hm1,#hm2,#hm3,#hm4{
  margin-left: 60px;
}

#hwl{
  margin-top: 50px;
  margin-left: 50px;
  font-size: larger;
  font-weight: bolder;
}

#hwl1{
  margin-left: 60px;
}

#hwl2{
  margin-left: 400px;
  margin-top: -70px;
}

#hwl3{
  margin-left: 750px;
  margin-top: -70px;
}

#hwl4{
  margin-left: 1080px;
  margin-top: -70px;
}

#footer{
  background-color: black;
  color: white;
  height: 200px;
  margin-top: 50px;
}

#name,#kalvian,#gmail{
  margin-left: 1200px;
  font-size: large;
}

.bookname{
  font-weight: bold
}

.an{
  font-size: 10px;
  margin-top: 5px;
}

.addcart{
  margin: 1px solid blue;
  border: 1px solid blue;
  width: 60px;
  background-color: #6196FF;
  color: white;
  margin-left: 70px;
}

#cart1,#cart2,#cart3,#cart4,#cart5,#cart6,#cart7,#cart8,#cart9,#cart10,#cart11,#cart12,#cart13,#cart14{
  height: 10px;
}

